.admission_page {
  color: #fff;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #4da3ff;
  border-bottom: 3px solid #955e10;
  padding: 1rem 0;
}

.header-logo {
  height: 100px;
  object-fit: contain;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0.75rem;
}

.nav-btn {
  background-color: #82beff;
  border: 2px solid #000;
  border-radius: 6px;
  color: #fff;
  padding: 8px 18px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-btn:hover {
  background-color: #4da3ff;
}

.tuition-body {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.tuition-body img {
  max-width: 100%;
  width: 1200px;
  border-radius: 8px;
  border: 2px solid #82beff;
}

/* Active tab */
.nav-btn.active {
  background-color: #b87712;
  border-color: #fff;
}

.admission-content {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: left;
  color: #000;
}

.admission-content h2 {
  margin-bottom: 0.5rem;
  color: #4da3ff;
}

.admission-content h3 {
  margin-top: 1rem;
}

.admission-content ul,
.admission-content ol {
  padding-left: 1.2rem;
  margin-top: 0.5rem;
}

.admission-content li {
  margin-bottom: 6px;
}

/* Consultant */
.consultant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 1rem;
}

.consultant-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  border: 3px solid #b8d7f3;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
}

.consultant-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #90b9e0;
  margin: 0 auto 12px auto;
  display: block;
  background: #e0ecfa;
}

.consultant-card h4 {
  color: #0d3c61;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.consultant-card p {
  color: #163b56;
  line-height: 1.5;
}

.consultant-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: #128c7e; 
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 20px; 
  display: block;
  margin: 0 auto 15px auto; /* auto left & right centers it */
}

.consultant-button:hover {
  background-color: #075E54;
  transform: translateY(-2px);
}

.document-text {
  line-height: 1.8;
  margin-top: 0.5rem;
}
