.footer {
  width: 100%;
  background: #24a2e2;
  font-family: "Be Vietnam", sans-serif;
  color: white;
  padding: 50px 20px;
}

.footer-container {
   max-width: 1200px;     /* keeps contents tighter */
  margin: 0 auto;        /* centers everything */
  padding: 0 40px;       /* inner spacing so content is not touching edges */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.footer-map-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}


/* LEFT COLUMN */
.footer-info {
  flex: 1;
  min-width: 320px;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
}

.footer-address {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.footer-map {
  width: 340px;
  height: auto;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.footer-copy {
  color: #fff;
  font-size: 16px;
  font-family: "Be Vietnam";
}

/* RIGHT COLUMN */
.footer-right {
  flex: 1;
  min-width: 320px;
  text-align: center;
}

.footer-logo {
  width: 160px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 16px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-divider {
  width: 100%;
  max-width: 1200px;    
  height: 1px;
  background-color: #ffffff80; 
  margin: 30px auto;   
}

.footer-bottom {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 15px;
  padding-top: 0px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}

.footer-buttons button {
  background: white;
  border: 1px solid #2c2c2c;
  color: #2c2c2c;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.footer-buttons button:hover {
  opacity: 0.8;
}

.footer-socials {
  display: flex;
  gap: 18px;
}

.footer-socials img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-map {
    width: 100%;
    max-width: 450px;
  }

  .footer-links span {
    display: none;
  }
}
