* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  font-family: "Inter", sans-serif;
}


html {
  font-size: 16px;
}

.app {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}