/* ===========================
   MAIN SECTION
=========================== */
.Values-section {
  width: 100%;
  padding: 60px 20px;
  background-image: url('../../assets/images/Faculties.png');

  font-family: "Bitter", serif;
}

/* Titles and text */
.Values-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}


/* ===========================
   VALUES GRID
=========================== */
.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 40px;
}

.values-card {
  text-align: center;
}

.values-img {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin: 0 auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.faculty-btn {
  margin-top: 15px;
  padding: 10px 18px;
  background: #1e82c5;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
}

.faculty-btn:hover {
  background: #1568a1;
}

@media (max-width: 900px) {
  .bachelor-grid {
    grid-template-columns: 1fr;
    max-width: 450px;
  }

  .bachelor-faculties-desc {
    font-size: 16px;
  }
}